{% extends 'base.html.twig' %}

{% block title %}Edit Stadium{% endblock %}

{% block body %}
    <h1>Edit Stadium</h1>

    {{ include('stadium/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stadium_index') }}">back to list</a>

    {{ include('stadium/_delete_form.html.twig') }}
{% endblock %}
