{% extends 'base.html.twig' %}

{% block title %}New Stadium{% endblock %}

{% block body %}
    <h1>Create new Stadium</h1>

    {{ include('stadium/_form.html.twig') }}

    <a href="{{ path('app_stadium_index') }}">back to list</a>
{% endblock %}
